<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  
  <!-- Salim Editing: trying to do dropdown menu -->
  
    <%= f.label :rating %><br>
  <div class="field">
 
  <div class="field" input type="dropdown"> 
    <select name="SalimRating" <br>>
      <option value="PG-13">PG-13</option>
      <option value="X-">X-Rated</option>
      <option value="PG-18">PG-18</option>
      <option value="SalimTest">Tesst</option>
    </select> <br>
 </div> 
  


 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
